<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h1>This is home page</h1>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt harum laborum et ut. Molestias itaque iure dicta modi repudiandae odio quia, porro corrupti cum assumenda, facere mollitia deserunt error minima!
        Blanditiis, asperiores illum tenetur excepturi veritatis sit animi ab beatae corrupti? Voluptas praesentium quod commodi consequuntur voluptate aliquid sequi fugiat obcaecati id dolores, ipsa at rerum voluptates inventore veniam minima?
        Reprehenderit ducimus nisi beatae? Non rerum minus architecto asperiores, laudantium accusantium rem libero repellat, velit soluta repellendus impedit odio, facilis dolores perferendis? Soluta minus, fugit cupiditate quod consectetur non adipisci.
        Voluptates voluptatum, tempore quibusdam distinctio officia non illo! Quia mollitia quam recusandae reprehenderit, nesciunt quod culpa suscipit modi, ipsa nihil magni laboriosam voluptatem? Sint, eligendi sapiente in voluptatum ipsum quis!
        Nisi explicabo voluptatibus cumque voluptatum, odio magnam tempore nostrum architecto in commodi illum praesentium labore minus harum enim vero neque dignissimos. Cum, non delectus. Neque corporis fugit itaque quisquam officiis.
        Nisi, nostrum! Quos inventore tempore officia quae? Temporibus pariatur ullam dolorum laboriosam doloremque reiciendis repellendus voluptatibus possimus magnam, dolore atque perspiciatis fugit alias blanditiis, quasi delectus facere sapiente non ratione!
        Rem quis ipsa doloribus perferendis obcaecati cupiditate, iure iste suscipit ullam voluptatum ea deserunt non autem? Ea, qui iste. Dolores fugit, iusto incidunt sit nam dolorum ratione sed ea obcaecati!
        Nihil iste explicabo pariatur beatae hic incidunt quam sint officiis accusantium deserunt debitis possimus consequatur facere dolorum quisquam asperiores tenetur mollitia dicta eligendi ipsa, fugit iusto? Quis doloremque consequatur quisquam!
        Quas, quaerat? Facilis accusantium, architecto accusamus, adipisci nam maiores delectus officia magni quaerat sunt inventore deleniti illo nisi distinctio a quod minima voluptas soluta. Quas error culpa dolores magni blanditiis?
        Laborum dicta ut veritatis fuga, hic in excepturi impedit ratione laudantium iure maxime ea ex assumenda adipisci quis explicabo dolore dignissimos, obcaecati debitis? Quae laboriosam repellat pariatur dignissimos necessitatibus sequi?
    </p>
    <!-- Outputs the value into the template (HTML escaped   -->
   <button>click me  <%=  Math.PI+(1+2)%></button>
</body>
</html>